/* 
**
**** Blog Item
**
*/
.blog-item {
    &:hover {
        .bg-img img {
            transform: translate(0) scale(1.05);
        }

        .blog-title {
            color: var(--orange);
        }
    }
}


// blog-page
.blog-page {
    .list-blog {
        .blog-item {
            &:first-child {
                grid-column: span 2 / span 2;
            }
        }
    }
}