/* Sub menu header */
.header-menu {
    position: relative;
    z-index: 2;
}

.menu-main .sub-menu {
    z-index: 1;
    padding: 10px 0;
    left: -40px;
    opacity: 0;
    visibility: hidden;
    transform: scaleY(0);
    transform-origin: top center;
    box-shadow: 0px 5px 25px 0px rgba(138, 159, 168, 0.25);
}

.menu-main>ul>li:hover>a,
.menu-main ul li>a.active,
.menu-main .sub-menu>li:hover a {
    color: var(--green);
}

.menu-main>ul>li:hover .sub-menu,
.menu-main>ul>li .sub-menu:hover {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}

.sub-menu li a {
    padding: 8px 24px;
    white-space: nowrap;
    display: inline-block;
}