/* 
**
**** Best Product Home1
**
*/
.best-product-block .cate-item .rotate-y-180 {
    transform: rotateY(180deg);
}

@media (max-width: 1064px) {
    .best-product-block {
        .list-cate {
            .cate-name {
                font-size: 16px;
                line-height: 24px;
            }

            .cate-img {
                width: 40px;
            }

            .cate-item>img {
                width: 40%;
            }

            .cate-item:last-child>img {
                width: 30%;
            }

            &:last-child {
                .cate-item>img {
                    width: 32%;
                }

                .cate-item:last-child>img {
                    width: 25%;
                }
            }
        }
    }
}

@media (max-width: 767.99px) {
    .best-product-block .list-cate .cate-name {
        font-size: 12px;
        line-height: 20px;
    }

    .best-product-block .list-cate .cate-img {
        width: 32px;
    }
}


/* 
**
**** Special Product Home1
**
*/
@media (max-width: 1024px) {

    .list-product.special-product .product-item:nth-child(1),
    .list-product.special-product .product-item:nth-child(2),
    .list-product.special-product .product-item:nth-child(3) {
        display: none;
    }
}