/* 
**
**** Product Item
**
*/
.list-product .swiper {
    padding: 24px 20px 32px;
}

.product-sale {
    position: absolute;
    top: 12px;
    left: 12px;
    z-index: 1;
}

.product-item:hover .product-img {
    transform: scale(1.06);
}

.product-item .list-action {
    position: absolute;
    top: 12px;
    right: 0;
    transform: translateX(10px);
    transition: all ease 0.3s;
    opacity: 0;
}

.product-item:hover .list-action {
    transform: translateX(-16px);
    opacity: 1;
}

.list-action .add-cart-btn {
    transform: translateX(60px);
}

.list-action .add-wishlist-btn {
    transform: translateX(200px);
}

.product-item:hover .list-action .add-cart-btn {
    transition-duration: 400ms;
    transform: translateX(0);
}

.product-item:hover .list-action .add-wishlist-btn {
    transition-duration: 450ms;
    transform: translateX(0);
}

.list-action .quick-view-btn:hover,
.list-action .add-cart-btn:hover,
.list-action .add-wishlist-btn:hover {
    background-color: var(--orange);
    color: var(--white);
    border-color: var(--orange);
}

.list-action .tag-action {
    white-space: nowrap;
    position: absolute;
    right: calc(100% + 10px);
    z-index: 0;
    opacity: 0;
    transform: translateX(-10px);
    transition: 0.3s;
    box-shadow: 0px 3px 15px rgba(138, 159, 168, 0.15);
    pointer-events: none;
}

.list-action .tag-action::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--black);
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    right: -3px;
    z-index: -1;
}

.list-action .quick-view-btn:hover .tag-action,
.list-action .add-cart-btn:hover .tag-action,
.list-action .add-wishlist-btn:hover .tag-action {
    transform: translateX(0);
    opacity: 1;
}

.product-item .product-infor {
    position: relative;
    z-index: 1;
}

.product-item .product-infor::before {
    content: '';
    position: absolute;
    top: 0;
    width: 50%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.05);
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    transition: all ease 0.2s;
}

.product-item:hover .product-name {
    color: var(--orange);
}

.product-item.row-type .product-infor::before {
    display: none;
}