@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    font-size: 16px;
    line-height: 16px;
    color: #1D1D1D;
    font-weight: 500;
    overflow-x: hidden;
}

input {
    outline: none;
    border: 1px solid transparent;
}

input:focus {
    border: 1px solid var(--orange);
}

select {
    outline: none;
    -webkit-appearance: none;
    appearance: none;
}

:root {
    --green: #76AB40;
    --orange: #EF6D44;
    --brown: #99412B;
    --black: #1D1D1D;
    --white: #FFFFFF;
    --secondary: #676767;
    --grey: #9FA09C;
}

.container {
    max-width: 1442px !important;
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    margin: 0 auto;
}

.text-slider {
    font-size: 52px;
    line-height: 62px;
    font-weight: 700;
}

.text-cate {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}

.text-subheading {
    font-size: 16px;
    font-weight: 700;
    color: var(--green);
    line-height: normal;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

.text-heading {
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
}

.text-title {
    color: var(--secondary);
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    font-style: normal;
}

.text-button {
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
}

.text-caption {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

.box-shadow {
    box-shadow: 0px 3px 15px rgba(138, 159, 168, 0.15);
}


/* Button */
.button-main {
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    color: var(--white);
    background-color: var(--orange);
    padding: 12px 40px;
    border-radius: 12px;
    display: inline-block;
}


/* Sub menu header */
.menu-main .sub-menu {
    padding: 10px 0;
    left: -40px;
    opacity: 0;
    visibility: hidden;
    transform: scaleY(0);
    transform-origin: top center;
    box-shadow: 0px 5px 25px 0px rgba(138, 159, 168, 0.25);
}

.menu-main>ul>li:hover>a,
.menu-main ul li>a.active,
.menu-main .sub-menu>li:hover a {
    color: var(--green);
}

.menu-main>ul>li:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}

.sub-menu li a {
    padding: 8px 24px;
    white-space: nowrap;
    display: inline-block;
}


/* Slider */
.slider-content .sub-img img {
    width: 100%;
}